@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button,
select,
img,
a {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .header-background {
    @apply w-full h-1/5 py-8;
    background-color: #16abf8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .header-title {
    @apply text-white text-2xl font-bold container;
  }

  .base-button {
    @apply px-6 py-3 rounded-full text-lg font-medium text-white;
    background-color: #16abf8;
  }

  .add-button {
    @apply base-button;
  }

  .add-button:disabled {
    @apply cursor-not-allowed text-white;
    opacity: 0.2;
  }

  .cancel-button {
    @apply base-button;
    background-color: #f4f4f4;
    color: #4a4a4a;
  }

  .icon-button {
    @apply w-8 h-8 rounded-full flex items-center justify-center;
  }

  .delete-button {
    @apply base-button text-white;
    background-color: #ed4c5c;
  }

  .spinner-container {
    @apply flex justify-center items-center;
    height: 100vh;
    margin-top: -150px;
  }

  .activity-item-container {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 250ms;
  }

  .activity-item-title {
    @apply text-lg font-bold cursor-pointer w-fit;
  }

  .activity-item-date {
    @apply text-sm text-gray-500;
  }

  .sort-container {
    @apply border-solid border-2 rounded-full;
    border-color: #e5e5e5;
  }

  /**
    * Tablet Breakpoints
    */

  @screen md {
    .activity-item-container:hover {
      transform: translateY(-5px);
    }
  }
}
